@model CartViewModel

<div id="cdek-map-mobile-popup-wrapper">
    <div class="close-icon-wrapper" data-close="cdek-map-mobile-popup-wrapper" style="background:#fff;">
        <i class="icon close-icon"></i>
    </div>
    <div id="cdek-map-mobile-popup">
    </div>
</div>
<div class="cart-wrapper">
    <div class="mobile-price-info-wrapper">
        <div class="price-info-inner">
            <div class="sum-price-info-wrapper">
                <div class="sum-price-label-wrapper">
                    <span class="sum-price-label text-small-caps">СУММА ЗАКАЗА:</span>
                </div>
                <div class="sum-price-wrapper">
                    <span id="sum-price" class="text-small-caps">@Model.SumPrice ₽</span>
                </div>
            </div>
            <div class="sum-price-info-wrapper">
                <div class="sum-price-label-wrapper">
                    <span class="sum-price-label text-small-caps">ДОСТАВКА:</span>
                </div>
                <div class="sum-price-wrapper">
                    <span id="delivery-price" class="text-small-caps">0</span>
                </div>
            </div>
            <div class="sum-price-info-wrapper">
                <div class="sum-price-label-wrapper">
                    <span class="sum-price-label text-small-caps">ПРОМОКОД:</span>
                </div>
                <div class="sum-price-wrapper">
                    <span id="promocode-price" class="text-small-caps">-0</span>
                </div>
            </div>
        </div>
        <div class="result-sum-wrapper">
            <span id="result-sum" class="text-medium">ИТОГОВАЯ СУММА: @Model.SumPrice ₽</span>
        </div>
    </div>
    <div class="mobile-products-in-cart-wrapper">
        <div class="mobile-products-in-cart">
            @for (int i = 0; i < Model.Products.Count(); i++)
            {
                await Html.RenderPartialAsync("ProductInCartMobile", Model.Products.ElementAt(i));
            }
        </div>
    </div>
    <div class="purchase-info-wrapper">
        @using (Html.BeginForm("PurchaseProducts", "Purchase", FormMethod.Post, new { id = "purchase-form" }))
        {
            <div class="personal-info-initial">
                <span class="personal-data-header text-small-caps">ПЕРСОНАЛЬНЫЕ ДАННЫЕ</span>

                <div class="input-with-label-wrapper">
                    <label for="Name" class="required">ИМЯ</label>
                    <input id="name-input" name="Name" type="text" onfocusout="checkField(this,'')" />
                </div>

                <div class="input-with-label-wrapper">
                    <label for="SecondName" class="required">ФАМИЛИЯ</label>
                    <input id="secondname-input" name="SecondName" type="text" onfocusout="checkField(this,'')" />
                </div>

                <div class="input-with-label-wrapper">
                    <label for="Email" class="required">EMAIL</label>
                    <input id="email-input" name="Email" type="text" onfocusout="checkField(this,'email')" />
                </div>

                <div class="input-with-label-wrapper">
                    <label for="Phone" class="required">ТЕЛЕФОН</label>
                    <input id="phone-input" name="Phone" type="text" onfocusout="checkField(this,'phone')" value="+7"/>
                </div>
            </div>
            <div class="delivery-options-wrapper">
                <span class="delivery-options-header text-small-caps">ДОСТАВКА</span>
                <div class="delivery-options-buttons-inner">
                    <input type="button" class="delivery-button cart-button text-medium-cart" value="КУРЬЕР" data-deliverytype="courier" onclick="selectDelivery(this)" />
                    <input type="button" class="delivery-button cart-button text-medium-cart" value="СДЭК" data-deliverytype="cdek" onclick="selectDelivery(this)" />
                    <input type="button" class="delivery-button cart-button text-medium-cart selected-button" value="САМОВЫВОЗ" data-deliverytype="selfpickup" onclick="selectDelivery(this)" />
                </div>
                <div class="self-pick-up-options-wrapper">
                    <div class="self-pick-up-option">
                        <input type="radio" id="tsvillinga-delivery-adress" name="DeliveryAdress" value="Collection
г.Челябинск, Цвиллинга, 28, пн-пт 11:00 – 20:00, сб-вс 11:00 – 18:00" checked="checked" />
                        <label for="tsvillinga-delivery-adress">
                            Collection<br />
                            г.Челябинск, Цвиллинга, 28, пн-пт 11:00 – 20:00, сб-вс 11:00 – 18:00
                        </label>
                    </div>
                    <div class="self-pick-up-option">
                        <input type="radio" id="kirova-delivery-adress" name="DeliveryAdress" value="Via Collection outlet
г.Челябинск, Кирова, 163, пн-пт 11:00 – 20:00, сб-вс 11:00 – 18:00 " />
                        <label for="kirova-delivery-adress">
                            Via Collection outlet<br />
                            г.Челябинск, Кирова, 163, пн-пт 11:00 – 20:00, сб-вс 11:00 – 18:00
                        </label>
                    </div>
                </div>
                <div class="adress-input-wrapper">
                    <span class="adress-input-notification text-regular-small">Доставка курьером доступна только в пределах Челябинска</span>
                    <div class="input-with-label-wrapper">
                        <label for="Adress" class="required">АДРЕС</label>
                        <input id="adress-input" name="DeliveryAdress" type="text" onfocusout="checkField(this,'')" />
                    </div>
                </div>
                <div class="sdek-input-wrapper" style="display:none">
                    <div class="selected-place-wrapper">
                        <span class="text-regular-small" style="font-weight: 600;">Пункт выдачи: <span id="selected-sdek-adress" class="text-regular-small" style="color:#f00">выберите удобный адрес</span></span>
                    </div>
                    <div class="desktop-cdek-wrapper">
                        <div class="cdek-map-wrapper">
                            <div id="cdek-map" style="height:400px;"></div>
                        </div>
                    </div>
                    <div class="mobile-cdek-wrapper text-small-caps">
                        <input type="button" onclick="openCDEKMap()" class="" value="Показать ПВЗ" />
                    </div>
                </div>
            </div>
            <input id="delivery-type-input" name="DeliveryType" type="hidden" value="selfpickup">
            <input id="cdek-adress-input" name="CDEKItemId" type="hidden" value="">
            <div class="promocode-wrapper">
                <span class="promocode-header text-small-caps">ПРОМОКОД</span>
                <div class="promocode-input">
                    <input id="promocode-input" name="Promocode" type="text" value="" />
                    <input type="button" class="promocode-button text-regular-caps" value="АКТИВИРОВАТЬ" />
                </div>
            </div>
            <div class="payment-module-wrapper">
                <div class="payment-type-wrapper">
                    <span class="payment-type-header text-small-caps">СПОСОБ ОПЛАТЫ</span>
                    <div class="payment-type-initial">
                        <div class="payment-type-radio-button">
                            <input id="cash-payment-radio-button" name="PaymentType" type="radio" class="cart-button text-regular-caps" value="cash" data-paymenttype="cash" />
                            <label for="cash-payment-radio-button" class="text-regular-caps">НАЛИЧНЫМИ</label>
                        </div>
                        <div class="payment-type-radio-button">
                            <input id="online-payment-radio-button" name="PaymentType" type="radio" class="cart-button text-regular-caps selected-button" value="online" data-paymenttype="online" checked="checked" />
                            <label for="online-payment-radio-button" class="text-regular-caps">ОНЛАЙН(СБП)</label>
                        </div>
                    </div>
                </div>

                <input id="payment-type-input" type="hidden" name="PaymentType" value="online" />

                @if (Model.PriceForSP1 != 0 && Model.PriceForSP2 != 0)
                {
                    <div class="payment-notification">
                        <span class="text-regular-small"> <span class="text-regular-small" style="color:#f00">Внимание!</span> По техническим причинам, Ваш платеж будет разделен на две части:</span>
                        <span id="first-payment-sum-notificaiton" class="text-regular-small">1) @Model.PriceForSP1 </span>
                        <span id="second-payment-sum-notificaiton" class="text-regular-small">2) @Model.PriceForSP2 </span>
                    </div>
                }

                <input id="submitPurchaseButton" class="action-button  text-regular-caps inactive-button" type="submit" value="ПЕРЕЙТИ К ОПЛАТЕ" disabled="disabled" />

                <div class="confidentiality-policy-notification-wrapper">
                    <span class="text-regular-small">
                        Нажимая на кнопку "перейти к оплате" Вы соглашаетесь с
                        <a class="text-regular-small" href="/info/delivery-and-payment" style="cursor:pointer;">Политикой конфиденциальности</a>
                    </span>
                </div>
            </div>
        }
    </div>
    <div class="cart-info-wrapper">
        <div class="cart-info-inner">
            <div class="price-info-wrapper">
                <div class="price-info-inner">
                    <div class="sum-price-info-wrapper">
                        <div class="sum-price-label-wrapper">
                            <span class="sum-price-label text-small-caps">СУММА ЗАКАЗА:</span>
                        </div>
                        <div class="sum-price-wrapper">
                            <span id="desktop-sum-price" class="text-small-caps">@Model.SumPrice ₽</span>
                        </div>
                    </div>
                    <div class="sum-price-info-wrapper">
                        <div class="sum-price-label-wrapper">
                            <span class="sum-price-label text-small-caps">ДОСТАВКА:</span>
                        </div>
                        <div class="sum-price-wrapper">
                            <span id="delivery-price" class="text-small-caps">0</span>
                        </div>
                    </div>
                    <div class="sum-price-info-wrapper">
                        <div class="sum-price-label-wrapper">
                            <span class="sum-price-label text-small-caps">ПРОМОКОД:</span>
                        </div>
                        <div class="sum-price-wrapper">
                            <span id="promocode-price" class="text-small-caps">-0</span>
                        </div>
                    </div>
                </div>
                <div class="result-sum-wrapper">
                    <span id="desktop-result-sum" class="text-medium">ИТОГОВАЯ СУММА: @Model.SumPrice ₽</span>
                </div>
            </div>
            <div id="cart-page-products-wrapper" class="products-in-cart-wrapper">
                @for (int i = 0; i < Model.Products.Count(); i++)
                {
                    await Html.RenderPartialAsync("ProductInCart", Model.Products.ElementAt(i));
                }
            </div>
        </div>
    </div>
</div>

<script src="~/js/CartScript.js"></script>
<link href="~/css/CartStyle.css" rel="stylesheet" />
<link href="~/css/ProductInCartStyle.css" rel="stylesheet" />
