@model SizeWithAmountModel

<div class="cart-product-in-cart-wrapper">
    <img class="product-in-cart-img" src="~/img/@Model.Product.MainPhoto" />
    <div class="product-in-cart-content-wrapper">
        <div class="product-in-cart-description">
            <div class="brand-and-remove-button">
                <span class="product-in-cart-brand text-regular-caps">@Model.Product.Brand</span>
            </div>
            <span class="product-in-cart-category text-small-caps">@Model.Product.Category</span>
        </div>

        <span class="product-in-cart-size text-small-caps">РАЗМЕР: @Model.Size</span>
        @if (Model.Product.SalePrice != null)
        {
            <span class="product-in-cart-menu-price text-regular-caps">@Model.Product.SalePrice ₽</span>
        }
        else
        {
            <span class="product-in-cart-menu-price text-regular-caps sale-price">@Model.Product.Price ₽</span>
        }
    </div>
</div>