@using Cheshan.Collection.Shop.Core.Models;
@model ProductModel

<div class="product-card-inner">
    <img src="~/img/@Model.MainPhoto" />
    <div product-info>
        <span class="brand">@Model.Brand</span>
        <span class="Name">@Model.Name</span>
        <div class="prices-inner">
            @if (Model.SalePrice != null && Model.SalePrice != 0 && Model.SalePrice < Model.Price)
            {
                <span class="price">@Model.SalePrice</span>
                <span class="price-crossed">@Model.Price</span>
            }
            else
            {
                <span class="price">@Model.Price</span>
            }
        </div>
    </div>
</div>